@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: dark;
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
      sans-serif;
    background-color: #020617;
  }

  body {
    @apply bg-slate-950 text-slate-50 min-h-screen;
    font-feature-settings: 'ss01' on, 'cv11' on;
  }

  #app {
    min-height: 100vh;
  }
}

