:root {
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    sans-serif;
  color: #111;
  background-color: #f4f5f8;
}

* {
  box-sizing: border-box;
}

body,
#app {
  margin: 0;
  min-height: 100vh;
}

button {
  cursor: pointer;
}

